body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #6c757d;
}

#projects {
  background-color: #6c757d;
}

section {
  padding-top: 5rem;
}

footer {
  background-color: #768797;
}
